/* for the desktop view */

*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: #000;
  color: #C5BFBF;

}

/* nav style*/

nav{
  display: flex;
  justify-content: space-between;
  background:#010511;
  max-height: 80px;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 120px 0 70px;
  

}

nav img{
  margin-top: 10px;
  max-width: 200px;

}


nav .menu-links{
  list-style: none;
  display: flex;
  gap : 30px;
  
}

nav .menu-links li a{
  color: #fff;
  text-decoration: none;
}

nav .menu-links li a:hover{
  color: #38B7BE;
}


.hamburger{
  color: #EDEDED;
  display : none;
}

/* Section 1 styling*/

.section-1{

  margin: 70px 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}


.section-1 img{
  max-width: 400px;
  border: none;
  filter: grayscale(100%);

}

.section-1 img:hover{
  filter: grayscale(90%);
  transition: 0.5s;
}

.Description{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Description .name{
  text-decoration: underline;
  text-decoration-color:#38B7BE;
}

.section-1-container{
  background-image : url(/images/front-end-developer-html-css.png);
  background-size: cover;

  
}

.Description h1{
  margin: 20px 0 40px 0;
  font-size: 50px;
  color: #EDEDED;
}

.Description p{
  margin-bottom: 40px;
  font-size: 18px;
  color:#C5BFBF;
  line-height: 1.5;
}

.section-1 .My-pics{
  border: none;
 
}

.section-1 .sub-headline{
margin-top: 40px;
max-width: 700px;

}



.sub-headline .show{
  font-size: 16px;
  padding:15px;
  color:#C5BFBF;
  background: black;
  border: #38B7BE solid;
  cursor: pointer;
}

.sub-headline .show:hover {
  opacity: 0.4;
}

/* Section 1 styling ends here and About section begins*/

.About-Section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130vh;
  margin: 0 50px 0 50px;


}

.About-Section .About-image{
  max-width: 400px;
  filter: grayscale(100%);
  padding-right: 20px;

 
}


.About-Section .AboutMe-text > * /* targeting all the children of this div (.AboutMe-text) */
 {
margin-top: 20px;
max-width: 700px;
padding-right: 20px;

}

.About-Section .AboutMe-text p 
{
 line-height: 30px;
 font-size: 18px;
 color: #C5BFBF;
}

.About-Section .AboutMe-text h2{
  color: #C5BFBF;
  text-align: left;
}

.AboutMe-text hr {
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.AboutMe-text h4{
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
}

.About-Section .AboutMe-text ul li{
  margin-top: 20px;
}

.About-Section .AboutMe-text .skills{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  text-align: left;
}


/* section 2 stops and section 3 starts*/

.project-overall-box{
  margin: 20px 50px 0 100px;
  padding-left: 40px;
}

.project-overall-box .project-h2{
  margin-bottom: 0;

}

.all-projects{
display: flex;
align-items: center;
justify-content: center;
 
}

.all-projects a{
  color:#C5BFBF;
  padding-bottom: 10px;
  
}

.all-projects a:hover{
  color:#38B7BE ;
}


.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 150vh;
  

}




.project .project-containers{
  display: grid;
  grid-template-columns:  1fr 1fr;
  gap: 30px;
  justify-content: center;
 

}

.project .project-containers img{
  max-width: 480px;
 
}

.project .project-containers .tech{
  margin: 10px 0 20px 0;
 
}

.project .project-containers a{
  color: #38B7BE;
  text-decoration: none;
}


.project .project-containers .title{
  margin: 20px 0 20px 0;
}

.project .project-containers > *{
  max-width: 550px;
  min-height: 400px;
  border: 0.5px solid #C5BFBF;
  padding: 20px;
}



.project .tech{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  
}

.project .tech > *{
  padding: 0 10px 0 0;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact .contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-top: 30px;
}

.contact .contact-box h3{
  font-size: 30px;
}

.contact .contact-box button{
  padding: 15px 30px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 40px;
  background: transparent;
  border: 2px #38B7BE solid;
  color:#C5BFBF ;
  cursor: pointer;
}

.contact .contact-box button:hover{
   opacity: 0.4;
}

.social-links{
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.social-links > *{
  font-size: 30px;
}

.social-links i{
  color:#38B7BE ;
}







/* For mobile */

@media (max-width : 640px)


{

  .menu-links{
    display: flex;
    flex-direction: column;
    top : 70px;
    position: absolute;
    left: 0;
    padding-left: 2px;
    background: black;
    width: 100%;
    height: 100vh;

  
  }

  .menu-container{
    display: none;

  }

  .active{
    display : flex;
  }

  .hamburger{
  color: white;
  display : flex;
}

/* section 1*/

.section-1{
 

  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;

  padding-top: 20px;
  align-items: center;
  margin: 100px 30px 0 30px;
 

  
}

.section-1 .sub-headline p{
  font-size: 16px;
}


.Description h1{
  margin: 30px 0 20px 0;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  
  color: #EDEDED;
}

.section-1-container{
  background-image : none

}

.section-1 .sub-headline{
max-width: 400px;
margin-top: 10px;
left: 0;
right: 0;
display: flex;
flex-direction: column;
text-align: center;

}

.section-1 img{
  max-width: 250px;
  border: none;
  filter: grayscale(100%);

}

.Description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Description p{
  margin-bottom: 40px;
  font-size: 14px;
  color:#C5BFBF;
  line-height: 1.5;
  text-align: left;
}

.sub-headline .show{
  font-size: 12px;
  padding:15px;
  color:#C5BFBF;
  background: black;
  border: #38B7BE solid;
  cursor: pointer;

}

/*section 2 begins */

.About-Section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: auto;
  margin-top: 0;
 
  
 
}

.About-Section .About-image{
  max-width: 300px;
  
}



.About-Section .AboutMe-text h2{
  color: #C5BFBF;
  text-align: left;
  font-size: 18px;
  
}

.About-Section .AboutMe-text p{
  font-size: 16px;
  line-height:20px ;
  max-width: 400px;
  text-align:left;


}


.AboutMe-text h4{
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
  
}

.About-Section ul li{
  font-size: 12px;
}

.AboutMe-text hr {
  display: none;
}

.About-Section .AboutMe-text{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  
}


.skills{

  margin: 0 50px 50px 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  


}

/* section 3 starts*/

.project .project-containers{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.project .project-containers img{
  max-width: 300px;
 
}

.project-overall-box{
  margin: 100px 50px 0 0;
  padding-left: 40px;
  min-height: 200vh;
  

}


.project .project-containers > *{
  min-height: auto;
}

.project-overall-box .project-h2{
  margin-bottom: 20px;
   font-size: 14px;
   margin-top: 30px;
  
 
}

.all-projects{
  padding : 20px 40px 10px 0;
}


/* .contact .contact-box{
  max-width: 500px;
} */

.contact .contact-box h3{
  font-size: 26px;
}


.contact .contact-box button{
  font-size: 14px;
  font: bold;
}

.contact .contact-box{
  margin: 0 50px 0 50px;
}


}


@media (max-width : 768px) {

  
  .menu-links{
    display: flex;
    flex-direction: column;
    top : 70px;
    position: absolute;
    left: 0;
    padding-left: 2px;
    background: black;
    width: 100%;
    height: 100vh;

  
  }

  .menu-container{
    display: none;
  }

  .active{
    display : flex;
  }

  .hamburger{
  color: white;
  display : flex;
}

/* section 1*/

.section-1{
 

  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;

  padding-top: 20px;
  align-items: center;
  margin: 100px 30px 0 30px;
 

  
}

.section-1 .sub-headline p{
  font-size: 16px;
}


.Description h1{
  margin: 30px 0 20px 0;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  
  color: #EDEDED;
}

.section-1-container{
  background-image : none

}

.section-1 .sub-headline{
max-width: 400px;
margin-top: 10px;
left: 0;
right: 0;
display: flex;
flex-direction: column;
text-align: center;

}

.section-1 img{
  max-width: 250px;
  border: none;
  filter: grayscale(100%);

}

.Description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Description p{
  margin-bottom: 40px;
  font-size: 14px;
  color:#C5BFBF;
  line-height: 1.5;
  text-align: left;
}

.sub-headline .show{
  font-size: 12px;
  padding:15px;
  color:#C5BFBF;
  background: black;
  border: #38B7BE solid;
  cursor: pointer;

}

/*section 2 begins */

.About-Section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: auto;
  margin-top: 0;
 
  
 
}

.About-Section .About-image{
  max-width: 300px;
  
}



.About-Section .AboutMe-text h2{
  color: #C5BFBF;
  text-align: left;
  font-size: 18px;
  
}

.About-Section .AboutMe-text p{
  font-size: 16px;
  line-height:20px ;
  max-width: 400px;
  text-align:left;


}


.AboutMe-text h4{
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
  
}

.About-Section ul li{
  font-size: 12px;
}

.AboutMe-text hr {
  display: none;
}

.About-Section .AboutMe-text{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  
}


.skills{

  margin: 0 50px 50px 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  


}

/* section 3 starts*/

.project .project-containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project .project-containers img{
  max-width: 300px;
 
}

.project-overall-box{
  margin: 100px 50px 0 0;
  padding-left: 40px;
  min-height: 200vh;
  

}


.project .project-containers > *{
  min-height: auto;
}

.project-overall-box .project-h2{
  margin-bottom: 20px;
   font-size: 14px;
   margin-top: 30px;
  
 
}

.all-projects{
  padding : 20px 40px 10px 0;
}


.contact .contact-box h3{
  font-size: 26px;
}


.contact .contact-box button{
  font-size: 14px;
  font: bold;
}

.contact .contact-box{
  margin: 0 50px 0 50px;
}
  
}